.page-footer{
    margin-top: 10px;
    background-color:#ECEFF1;
        .footerClass{
        .styleContainer{
            background-color: #21d192;
            position: relative;
            height: auto;

            .fa{
                color:white;
                font-size:20px;
            }

            .white-text{
                color:white;
            }
    }
    
        .linkContainer{
            background-color:#ECEFF1;
            width:100%;
            position:relative;
        }
    
       
    
    .footer-copyright{
            background-color: #BDBFC1;
        }

    
    }
    hr{
        width:60px;
        background-color: #21d192;
    }
}