.informationHeader{
    width:100%;
    font-size: 20px;
    font-weight: 400;
    margin-bottom:20px;
    padding-top:25px;
    @media screen and (max-width: 785px) {
        padding-top:0px;
      }
    .profilePic{
        @media screen and (max-width: 785px) {
            margin:0;
          }

    }
    .textContainer{
        @media screen and (max-width: 785px) {
            display:none;
          }
    }

    .container__row{
        display: flex;
        flex-wrap: wrap;
        
        @media screen and (min-width: 785px) {
     display: none; 
        }
    }
    .container__col-3{
        flex-basis:20%;
        @media screen and (min-width: 785px) {
     display:none;
        }
    }
       
     .headText{
        color:white;
        font-size: 20px;
        font-weight: 100;
        padding-bottom:20px;
        top:0px;
        @media screen and (max-width: 785px) {
            padding-bottom:0px;
          }
     
     } 
}